@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
body {
  margin: 0;
  box-sizing: border-box;
  font-family: 'DM Sans', sans-serif;
}

nav {
  position: fixed;
  bottom: 0;
  z-index: 1000;
  height: 100px;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-around;
  background-color: white;
}

#home-header {
  background-color: #fe5f1e;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  height: 177px;
}
#home-header form {
  margin-bottom: 25px;
}
#home-header form input {
  all: unset;
  background-color: white;
  padding: 15px;
  width: 350px;
  border-radius: 25px;
}
#cuisine-cards {
  display: flex;
  flex-wrap: wrap;
  row-gap: 15px;
  justify-content: space-evenly;
}
#cuisine-card {
  width: 120px;
  height: 120px;
  text-align: center;
  background-color: #f4ede3;
  border-radius: 15px;
}
#cust-name {
  color: #fe5f1e;
  margin-left: 20px;
}
main h1 {
  font-size: 25px;
  margin: 30px 0;
  font-weight: 500;
}
#cuisine-card img {
  width: 90px;
  margin-top: 15px;
}
#cuisine-card {
  color: #262626;
  font-size: 15px;
}
#cuisine-card h3 {
  margin-top: -1px;
  font-weight: 600;
}
#cuisine-foods-link {
  text-decoration: none;
}

#food-card {
  margin: 30px;
  margin-top: 60px;
  background: #d9d9d9;
  height: 700px;
  border-radius: 25px;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  align-items: center;
  justify-content: center;
  padding-left: 20px;
  padding-right: 20px;
}

#food-picture {
  max-width: 320px;
  height: 320px;
  margin-top: 15px;
  border-radius: 13px;
  object-fit: cover;
  margin-bottom: 15px;
  padding-left: 3px;
}

#food-text {
  padding-left: 5px;
}

#button-cart {
  background-color: #fe5f1e;
  border: none;
  position: absolute;
  width: 214px;
  height: 53px;
  left: calc(50% - 214px / 2);
  top: 612px;
  background: #f55905;
  border-radius: 26.5px;
  margin-top: 30px;
}

#add-to-cart {
  font-family: 'DM Sans';
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
  color: #f4ede3;
  font-weight: 600;
}

#food-test-food-descr {
  margin-top: 5px;
  font-weight: 400;
}


#food-test-food-name {
  margin: 0px
}